parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method object\\:\\:__invoke\\(\\)\\.$#"
			count: 1
			path: src/SharedInfrastructure/CommandBus/CommandBus.php

		-
			message: "#^Method Pmaj\\\\SampleCode\\\\SharedInfrastructure\\\\CommandBus\\\\CommandBus\\:\\:dispatch\\(\\) has parameter \\$command with no type specified\\.$#"
			count: 1
			path: src/SharedInfrastructure/CommandBus/CommandBus.php
